-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: capstone_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `applications`
--

DROP TABLE IF EXISTS `applications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `applications` (
  `application_id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL COMMENT 'link to user table ',
  `status` enum('Pending','Approved','Rejected') DEFAULT 'Pending',
  `rejection_reason` text DEFAULT NULL,
  `applied_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `program_type` enum('tupad','spes','gip','dilp','job_seekers') NOT NULL,
  `approval_date` timestamp NOT NULL DEFAULT current_timestamp(),
  `is_duplicate` tinyint(1) NOT NULL DEFAULT 0,
  `duplicate_notes` text DEFAULT NULL,
  PRIMARY KEY (`application_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `applications_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `applications`
--

LOCK TABLES `applications` WRITE;
/*!40000 ALTER TABLE `applications` DISABLE KEYS */;
INSERT INTO `applications` VALUES (22,23,'Approved',NULL,'2026-04-09 03:31:11','2026-04-09 06:36:52','tupad','2026-04-09 06:36:52',0,NULL);
/*!40000 ALTER TABLE `applications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `attendance_records`
--

DROP TABLE IF EXISTS `attendance_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `attendance_records` (
  `attendance_id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `program_type` varchar(30) DEFAULT NULL,
  `attendance_date` date NOT NULL,
  `time_in` datetime DEFAULT NULL,
  `time_out` datetime DEFAULT NULL,
  `status` enum('Present','Incomplete','Absent') DEFAULT 'Incomplete',
  `remarks` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`attendance_id`),
  UNIQUE KEY `uniq_user_day` (`user_id`,`attendance_date`),
  CONSTRAINT `attendance_records_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `attendance_records`
--

LOCK TABLES `attendance_records` WRITE;
/*!40000 ALTER TABLE `attendance_records` DISABLE KEYS */;
INSERT INTO `attendance_records` VALUES (10,23,'tupad','2026-04-09','2026-04-09 15:21:42','2026-04-09 15:21:42','Present','Marked Present by admin','2026-04-09 07:21:42','2026-04-09 07:21:42');
/*!40000 ALTER TABLE `attendance_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `beneficiaries`
--

DROP TABLE IF EXISTS `beneficiaries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `beneficiaries` (
  `beneficiary_id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) DEFAULT NULL,
  `first_name` varchar(100) NOT NULL,
  `middle_name` varchar(100) DEFAULT NULL,
  `last_name` varchar(100) NOT NULL,
  `extension_name` varchar(10) DEFAULT NULL,
  `birth_date` date NOT NULL,
  `gender` enum('Male','Female','Other') NOT NULL,
  `civil_status` enum('Single','Married','Widowed','Separated') NOT NULL,
  `contact_number` varchar(15) DEFAULT NULL,
  `address` text NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  PRIMARY KEY (`beneficiary_id`),
  UNIQUE KEY `unique_beneficiary` (`first_name`,`last_name`,`birth_date`),
  KEY `fk_user_beneficiary` (`user_id`),
  CONSTRAINT `fk_user_beneficiary` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=40 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `beneficiaries`
--

LOCK TABLES `beneficiaries` WRITE;
/*!40000 ALTER TABLE `beneficiaries` DISABLE KEYS */;
INSERT INTO `beneficiaries` VALUES (39,23,'aila','','fundales',NULL,'2004-12-12','Male','Single','09123456789','Lajong, Juban Sorsogon',0);
/*!40000 ALTER TABLE `beneficiaries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `beneficiary_documents`
--

DROP TABLE IF EXISTS `beneficiary_documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `beneficiary_documents` (
  `document_id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `program_type` enum('tupad','spes','dilp','gip','job_seekers') NOT NULL,
  `document_type` varchar(100) NOT NULL,
  `original_name` varchar(255) NOT NULL,
  `file_path` text NOT NULL,
  `file_size` int(11) NOT NULL,
  `mime_type` varchar(50) NOT NULL,
  `uploaded_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`document_id`),
  UNIQUE KEY `unique_user_program_doctype` (`user_id`,`program_type`,`document_type`),
  KEY `fk_doc_user` (`user_id`),
  CONSTRAINT `fk_doc_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `beneficiary_documents`
--

LOCK TABLES `beneficiary_documents` WRITE;
/*!40000 ALTER TABLE `beneficiary_documents` DISABLE KEYS */;
/*!40000 ALTER TABLE `beneficiary_documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dilp_applications`
--

DROP TABLE IF EXISTS `dilp_applications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `dilp_applications` (
  `application_id` int(11) NOT NULL AUTO_INCREMENT,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `proponent_name` varchar(255) NOT NULL,
  `sex` varchar(20) DEFAULT NULL,
  `civil_status` varchar(50) DEFAULT NULL,
  `date_of_birth` date DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `project_title` varchar(255) NOT NULL,
  `project_type` enum('Individual','Group') DEFAULT 'Individual',
  `category` enum('Formation','Enhancement','Restoration') DEFAULT 'Formation',
  `proposed_amount` decimal(15,2) NOT NULL,
  `location` varchar(255) DEFAULT NULL,
  `barangay` varchar(100) DEFAULT NULL,
  `city` varchar(100) DEFAULT NULL,
  `province` varchar(100) DEFAULT NULL,
  `contact_person` varchar(255) DEFAULT NULL,
  `contact_number` varchar(20) NOT NULL,
  `business_experience` text DEFAULT NULL,
  `estimated_monthly_income` decimal(15,2) DEFAULT 0.00,
  `number_of_beneficiaries` int(11) DEFAULT 0,
  `skills_training` text DEFAULT NULL,
  `valid_id_number` varchar(100) DEFAULT NULL,
  `brief_description` text DEFAULT NULL,
  PRIMARY KEY (`application_id`),
  KEY `idx_proponent` (`proponent_name`),
  KEY `idx_project` (`project_title`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dilp_applications`
--

LOCK TABLES `dilp_applications` WRITE;
/*!40000 ALTER TABLE `dilp_applications` DISABLE KEYS */;
/*!40000 ALTER TABLE `dilp_applications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dilp_details`
--

DROP TABLE IF EXISTS `dilp_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `dilp_details` (
  `detail_id` int(11) NOT NULL AUTO_INCREMENT,
  `application_id` int(11) NOT NULL,
  `project_title` varchar(255) DEFAULT NULL,
  `project_type` varchar(20) DEFAULT 'Individual',
  `category` varchar(30) DEFAULT 'Formation',
  `proposed_amount` decimal(15,2) DEFAULT NULL,
  `location` varchar(255) DEFAULT NULL,
  `barangay` varchar(100) DEFAULT NULL,
  `municipality` varchar(100) DEFAULT NULL,
  `district` varchar(100) DEFAULT NULL,
  `street` varchar(255) DEFAULT NULL,
  `province` varchar(100) DEFAULT NULL,
  `contact_person` varchar(255) DEFAULT NULL,
  `business_experience` text DEFAULT NULL,
  `estimated_monthly_income` decimal(15,2) DEFAULT 0.00,
  `number_of_beneficiaries` int(11) DEFAULT 0,
  `skills_training` text DEFAULT NULL,
  `valid_id_number` varchar(100) DEFAULT NULL,
  `brief_description` text DEFAULT NULL,
  PRIMARY KEY (`detail_id`),
  KEY `application_id` (`application_id`),
  CONSTRAINT `dilp_details_ibfk_1` FOREIGN KEY (`application_id`) REFERENCES `applications` (`application_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dilp_details`
--

LOCK TABLES `dilp_details` WRITE;
/*!40000 ALTER TABLE `dilp_details` DISABLE KEYS */;
/*!40000 ALTER TABLE `dilp_details` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `disbursements`
--

DROP TABLE IF EXISTS `disbursements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `disbursements` (
  `disbursement_id` int(11) NOT NULL AUTO_INCREMENT,
  `batch_code` varchar(30) NOT NULL,
  `program_type` varchar(30) NOT NULL,
  `payroll_month` varchar(7) NOT NULL,
  `total_amount` decimal(14,2) NOT NULL DEFAULT 0.00,
  `recipient_count` int(11) NOT NULL DEFAULT 0,
  `payment_mode` enum('GCash','Cash','Bank Transfer') NOT NULL DEFAULT 'Cash',
  `status` enum('Scheduled','Processing','Released','Failed') DEFAULT 'Scheduled',
  `reference_number` varchar(100) DEFAULT NULL,
  `scheduled_date` date DEFAULT NULL,
  `released_date` date DEFAULT NULL,
  `released_by` int(11) DEFAULT NULL,
  `notes` varchar(500) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`disbursement_id`),
  UNIQUE KEY `batch_code` (`batch_code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `disbursements`
--

LOCK TABLES `disbursements` WRITE;
/*!40000 ALTER TABLE `disbursements` DISABLE KEYS */;
/*!40000 ALTER TABLE `disbursements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gip_details`
--

DROP TABLE IF EXISTS `gip_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `gip_details` (
  `detail_id` int(11) NOT NULL AUTO_INCREMENT,
  `application_id` int(11) NOT NULL,
  `school` varchar(200) DEFAULT NULL,
  `course` varchar(200) DEFAULT NULL,
  `year_graduated` varchar(10) DEFAULT NULL,
  `education_level` varchar(100) DEFAULT NULL,
  `employment_status` varchar(100) DEFAULT NULL,
  `skills` text DEFAULT NULL,
  `government_id` varchar(100) DEFAULT NULL,
  `emergency_name` varchar(200) DEFAULT NULL,
  `emergency_contact` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`detail_id`),
  KEY `application_id` (`application_id`),
  CONSTRAINT `gip_details_ibfk_1` FOREIGN KEY (`application_id`) REFERENCES `applications` (`application_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gip_details`
--

LOCK TABLES `gip_details` WRITE;
/*!40000 ALTER TABLE `gip_details` DISABLE KEYS */;
/*!40000 ALTER TABLE `gip_details` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jobseeker_details`
--

DROP TABLE IF EXISTS `jobseeker_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jobseeker_details` (
  `detail_id` int(11) NOT NULL AUTO_INCREMENT,
  `application_id` int(11) NOT NULL,
  `employment_status` varchar(100) DEFAULT NULL,
  `preferred_work_type` varchar(100) DEFAULT NULL,
  `preferred_industry` varchar(200) DEFAULT NULL,
  `years_of_experience` varchar(50) DEFAULT NULL,
  `technical_skills` text DEFAULT NULL,
  `urgent_training` text DEFAULT NULL,
  `certifications` text DEFAULT NULL,
  `availability` varchar(100) DEFAULT NULL,
  `expected_salary` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`detail_id`),
  KEY `application_id` (`application_id`),
  CONSTRAINT `jobseeker_details_ibfk_1` FOREIGN KEY (`application_id`) REFERENCES `applications` (`application_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jobseeker_details`
--

LOCK TABLES `jobseeker_details` WRITE;
/*!40000 ALTER TABLE `jobseeker_details` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobseeker_details` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notifications` (
  `notification_id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) DEFAULT NULL,
  `title` varchar(255) NOT NULL,
  `message` text NOT NULL,
  `type` enum('program_available','program_ongoing','program_coming_soon','program_completed','general') NOT NULL DEFAULT 'general',
  `program_id` int(11) DEFAULT NULL,
  `is_read` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`notification_id`),
  KEY `idx_notifications_user` (`user_id`),
  KEY `idx_notifications_program` (`program_id`),
  KEY `idx_notifications_read` (`is_read`),
  CONSTRAINT `fk_notifications_program` FOREIGN KEY (`program_id`) REFERENCES `programs` (`program_id`) ON DELETE SET NULL,
  CONSTRAINT `fk_notifications_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
INSERT INTO `notifications` VALUES (1,23,'TUPAD ΓÇö Now Open for Applications','A new program \"TUPAD\" in lajong juban is now open for applications starting April 9, 2026. 20 slots available.','program_available',15,1,'2026-04-09 01:38:32');
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payroll_records`
--

DROP TABLE IF EXISTS `payroll_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payroll_records` (
  `payroll_id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `program_type` varchar(30) NOT NULL,
  `payroll_month` varchar(7) NOT NULL,
  `days_worked` int(11) NOT NULL DEFAULT 0,
  `daily_wage` decimal(10,2) NOT NULL DEFAULT 435.00,
  `total_payout` decimal(12,2) NOT NULL DEFAULT 0.00,
  `status` enum('Pending','Approved','Released') DEFAULT 'Pending',
  `approved_by` int(11) DEFAULT NULL,
  `approved_at` datetime DEFAULT NULL,
  `remarks` varchar(500) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`payroll_id`),
  UNIQUE KEY `uniq_user_program_month` (`user_id`,`program_type`,`payroll_month`),
  CONSTRAINT `payroll_records_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payroll_records`
--

LOCK TABLES `payroll_records` WRITE;
/*!40000 ALTER TABLE `payroll_records` DISABLE KEYS */;
/*!40000 ALTER TABLE `payroll_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `programs`
--

DROP TABLE IF EXISTS `programs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `programs` (
  `program_id` int(11) NOT NULL AUTO_INCREMENT,
  `program_name` varchar(255) NOT NULL,
  `location` varchar(255) NOT NULL,
  `slots` int(11) NOT NULL,
  `budget` decimal(15,2) NOT NULL,
  `status` enum('active','inactive','pending','completed','ongoing') DEFAULT 'pending',
  `start_date` date DEFAULT NULL,
  `end_date` date DEFAULT NULL,
  `filled` int(11) DEFAULT 0,
  `used` decimal(15,2) DEFAULT 0.00,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`program_id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `programs`
--

LOCK TABLES `programs` WRITE;
/*!40000 ALTER TABLE `programs` DISABLE KEYS */;
INSERT INTO `programs` VALUES (15,'TUPAD','lajong juban',20,200000.00,'ongoing','2026-04-09','2026-05-09',0,0.00,'2026-04-09 01:38:32','2026-04-09 01:38:32');
/*!40000 ALTER TABLE `programs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `spes_applications`
--

DROP TABLE IF EXISTS `spes_applications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `spes_applications` (
  `spes_application_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `application_status` enum('Draft','Pending','Approved') NOT NULL DEFAULT 'Draft',
  `form2_path` varchar(255) DEFAULT NULL,
  `form2a_path` varchar(255) DEFAULT NULL,
  `form4_path` varchar(255) DEFAULT NULL,
  `passport_photo_path` varchar(255) DEFAULT NULL,
  `birth_cert_path` varchar(255) DEFAULT NULL,
  `indigency_path` varchar(255) DEFAULT NULL,
  `registration_path` varchar(255) DEFAULT NULL,
  `grades_path` varchar(255) DEFAULT NULL,
  `philjobnet_screenshot_path` varchar(255) DEFAULT NULL,
  `admin_remarks` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`spes_application_id`),
  KEY `idx_spes_applications_user_id` (`user_id`),
  KEY `idx_spes_applications_status` (`application_status`),
  CONSTRAINT `fk_spes_applications_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `spes_applications`
--

LOCK TABLES `spes_applications` WRITE;
/*!40000 ALTER TABLE `spes_applications` DISABLE KEYS */;
/*!40000 ALTER TABLE `spes_applications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `spes_details`
--

DROP TABLE IF EXISTS `spes_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `spes_details` (
  `detail_id` int(11) NOT NULL AUTO_INCREMENT,
  `application_id` int(11) NOT NULL,
  `place_of_birth` varchar(150) DEFAULT NULL,
  `citizenship` varchar(50) DEFAULT 'Filipino',
  `social_media_account` varchar(100) DEFAULT NULL,
  `civil_status` enum('Single','Married','Widow/er','Separated') NOT NULL,
  `sex` enum('Male','Female') NOT NULL,
  `type_of_student` enum('Student','ALS student','out-of-school (OSY)') NOT NULL,
  `parent_status` enum('Living together','Solo Parent','Separated') NOT NULL,
  `father_name` varchar(150) DEFAULT NULL,
  `father_occupation` varchar(100) DEFAULT NULL,
  `father_contact` varchar(20) DEFAULT NULL,
  `mother_maiden_name` varchar(150) DEFAULT NULL,
  `mother_occupation` varchar(100) DEFAULT NULL,
  `mother_contact` varchar(20) DEFAULT NULL,
  `education_level` enum('Elementary','Secondary','Tertiary','Tech-Voc') NOT NULL,
  `name_of_school` varchar(200) DEFAULT NULL,
  `degree_earned_course` varchar(200) DEFAULT NULL,
  `year_level` varchar(50) DEFAULT NULL,
  `present_address` text NOT NULL,
  `permanent_address` text NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `form2_meta` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`form2_meta`)),
  `form2a_meta` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`form2a_meta`)),
  `form4_meta` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`form4_meta`)),
  PRIMARY KEY (`detail_id`),
  KEY `application_id` (`application_id`),
  CONSTRAINT `spes_details_ibfk_1` FOREIGN KEY (`application_id`) REFERENCES `applications` (`application_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `spes_details`
--

LOCK TABLES `spes_details` WRITE;
/*!40000 ALTER TABLE `spes_details` DISABLE KEYS */;
/*!40000 ALTER TABLE `spes_details` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `system_settings`
--

DROP TABLE IF EXISTS `system_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `system_settings` (
  `setting_key` varchar(100) NOT NULL,
  `setting_value` text NOT NULL,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`setting_key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `system_settings`
--

LOCK TABLES `system_settings` WRITE;
/*!40000 ALTER TABLE `system_settings` DISABLE KEYS */;
INSERT INTO `system_settings` VALUES ('tupad_daily_wage','435','2026-03-29 18:07:38');
/*!40000 ALTER TABLE `system_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tupad_details`
--

DROP TABLE IF EXISTS `tupad_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tupad_details` (
  `detail_id` int(11) NOT NULL AUTO_INCREMENT,
  `application_id` int(11) NOT NULL,
  `valid_id_type` varchar(50) DEFAULT NULL,
  `id_number` varchar(100) DEFAULT NULL,
  `occupation` varchar(100) DEFAULT NULL,
  `monthly_income` decimal(10,2) DEFAULT NULL,
  `civil_status` enum('Single','Married','Widowed','Separated') DEFAULT NULL,
  `work_category` varchar(100) DEFAULT NULL,
  `job_preference` varchar(100) DEFAULT NULL,
  `educational_attainment` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`detail_id`),
  KEY `application_id` (`application_id`),
  CONSTRAINT `tupad_details_ibfk_1` FOREIGN KEY (`application_id`) REFERENCES `applications` (`application_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tupad_details`
--

LOCK TABLES `tupad_details` WRITE;
/*!40000 ALTER TABLE `tupad_details` DISABLE KEYS */;
INSERT INTO `tupad_details` VALUES (7,22,'drivers license','1234','none',0.00,'Single','none','cleaning','high school graduate');
/*!40000 ALTER TABLE `tupad_details` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`  
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `user_id` int(11) NOT NULL AUTO_INCREMENT,
  `user_name` varchar(100) NOT NULL,
  `email` varchar(100) DEFAULT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `role` enum('admin','staff','beneficiary') DEFAULT 'beneficiary',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `phone` (`phone`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (20,'Admin','admin@gmail.com','1234567890','$2a$12$Xi9L.1lfILyLrAxDGW9lqO1dfSCZdj1dGLvoMkzWSJNg.hT6gSRJ2','admin','2026-02-26 18:07:07'),(23,'aila fundales','aila@gmail.com',NULL,'$2a$10$KLHf0DRD6vKzkhmDEzIUGOiTnfCbqGd6zp6M/dN/AE9x41KXeOTR6','beneficiary','2026-03-20 19:36:01'),(25,'jayson tatum','staff@gov.ph','09123456789','$2a$12$nRZqKxCqjA4tsZT8xidOF.rHMBQKfDKu92L8lbDmSwhjF43.pwlOe','staff','2026-03-24 14:19:48'),(32,'Jack N. Gil','jack@gmail.com',NULL,'$2a$12$1pbcrp9ZfeCjSQVWSz5iFuwWkYzd4NwaK9gd7kdOAUjUyle8SelJW','beneficiary','2026-04-09 07:27:54');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-12  0:37:51
